__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov
.tox
.eggs
*.egg-info
.git
.github
.vscode
.idea
dist
build
*.egg
node_modules
.env
.env.local
.env.*.local
.python-version
.mypy_cache
.ruff_cache
*.md
!README.md
tests
README.md
